<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Login')}"></div>
<body class="text-center bg-light">
<div class="container">
    <div class="col-5 mx-auto">
        <div class="py-5 text-center">
            <form method="post" class="form-signin mx-5" th:action="@{/}">
                <label for="username" class="sr-only">username</label>
                <input id="username" name="username" class="my-2 form-control" placeholder="username"
                       required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>