    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Game')}"></div>
<div th:replace="~{common :: navbar(game=true)}"></div>
<body class="bg-light">
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qv,iter : ${game.getUsers()}">
            <td th:text="${qv.getName()}"></td>
            <td th:text="${qv.getScore()}"></td>
        </tr>
        </tbody>
    </table>
    
    <div>
        <h1><small th:text="${game.getText()}"></small></h1>
        <p></p>
    </div>
    
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">VOTE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qv,iter : ${game.getUsers()}">
            <td th:text="${qv.getSelectedImage()}"></td>
            <td>
                <form th:action="@{/games/vote/{id}(id = ${qv.getId()})}" method="post">
                    <button type="submit" class="btn btn-primary">VOTE</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>
